body {
  background: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
}

/* Hero Section */
.hero {
  height: 250px;
  background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e') no-repeat center center/cover;
  border-radius: 0 0 20px 20px;
}

/* Cards */
.card {
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

/* Post hover effect */
.post-card {
  transition: 0.3s;
  border-left: 4px solid #0d6efd;
}

.post-card:hover {
  transform: translateY(-5px);
}




/* Like button */
.like-btn {
  cursor: pointer;
  color: gray;
}

.like-btn.liked {
  color: red;
}
body {
  background: linear-gradient(to right, #e3f2fd, #fce4ec);
  font-family: 'Segoe UI', sans-serif;
}
.btn-primary {
  border-radius: 10px;
  font-weight: 500;
}

.btn-primary:hover {
  transform: scale(1.02);
  transition: 0.2s;
}